@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
::-webkit-scrollbar-track {
  background: #555;
  border-radius:10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}

.loader-page {
  width: 100%;
  min-height: 100vh;
  background-color: #444;
  
}